apiVersion: v1
kind: Pod
metadata:
  name: test-ping
  namespace: default
spec:
  containers:
  - name: busybox
    image: busybox:1.36
    command: ["/bin/sh", "-c"]
    args:
    - |
      while true; do
        ping -c 1 8.8.8.8 || true
        sleep 2
      done
